wired_if = "em1"
carp_if = "carp0"

#table <martians> { 0.0.0.0/8 10.0.0.0/8 127.0.0.0/8 169.254.0.0/16     \
#	 	   172.16.0.0/12 192.0.0.0/24 192.0.2.0/24 224.0.0.0/3 \
#	 	   192.168.0.0/16 198.18.0.0/15 198.51.100.0/24        \
#	 	   203.0.113.0/24 }

set block-policy drop
set loginterface egress
set skip on lo0

match in all scrub (no-df random-id max-mss 1440)
match out on egress inet from !(egress:network) to any nat-to (egress:0)

antispoof quick for { egress $wired_if }

# always allow ssh
pass  in quick proto tcp to port 22

# in out vagrant environment, we ignore martians
#block in quick on egress from <martians> to any
#block return out quick on egress from any to <martians>

# default block all
block all

# allow in/outgoing carp stuff
pass in  on $wired_if proto carp
pass out on $carp_if  proto carp

# allow all outgoing
pass out quick inet
# allow all outgoing
pass in on { $wired_if } inet

#pass in on egress inet proto tcp from any to (egress) port { 80 443 } rdr-to 192.168.1.2